<footer class="footer">
  <div class="footer-container">

    <!-- First Row: Logo + Title & Description -->
    <div class="footer-row">
      <!-- Left Side: Logo -->
      <div class="footer-logo">
        <img
          src="content/images/DublinDoga.svg"
          alt="Dublin Doga Logo"
          class="me-2 rounded-circle"
          style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"
        />

      </div>

      <!-- Right Side: Title & Description -->
      <div class="footer-description">
        <h3>Dublin Doğa</h3>
        <p>Doğa yürüyüşleri ve keşif tutkunları için bir topluluk! Yeni yerler keşfetmek, doğayla iç içe olmak ve doğaseverlerle keyifli anlar paylaşmak isteyen herkes davetli! 🌿✨</p>      </div>
    </div>

    <!-- Second Row: Links -->
    <div class="footer-menu">
      <ul>
        <li><a (click)="navigateToLogin()" >Giriş</a></li>
        <li><a (click)="navigateToRegister()" >Kaydol</a></li>
        <li><a (click)="navigateToSettings()">Ayarlar</a></li>
      </ul>
    </div>

  </div>
</footer>
