<div class="p-5">
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Şifreyi sıfırla</h1>

      @if (initialized() && !key()) {
        <div class="alert alert-danger">Şifre sıfırlama anahtarı geçersiz.</div>
      }

      @if (key() && !success()) {
        <div class="alert alert-warning">
          <span>Yeni şifre seç</span>
        </div>
      }

      @if (error()) {
        <div class="alert alert-danger">
          <span>Şifren sıfırlanamaz. Şifre isteği sadece 24 saat geçerlidir.</span>
        </div>
      }

      @if (success()) {
        <div class="alert alert-success">
          <span><strong>Şifren sıfırlandı.</strong> Lütfen </span>
          <a class="alert-link" routerLink="/login">Giriş</a>.
        </div>
      }

      @if (doNotMatch()) {
        <div class="alert alert-danger">Şifreler eşleşmedi!</div>
      }

      @if (key() && !success()) {
        <div>
          <form name="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="mb-3">
              <label class="form-label" for="newPassword">Yeni Şifre</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Yeni Şifreniz"
                formControlName="newPassword"
                data-cy="resetPassword"
              />

              @let newPasswordRef = passwordForm.get('newPassword')!;
              @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
                <div>
                  @if (newPasswordRef?.errors?.required) {
                    <small class="form-text text-danger">Şifre zorunlu alandır.</small>
                  }

                  @if (newPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger">Şifreniz en az 4 karakter olmak zorundadır</small>
                  }

                  @if (newPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger">Şifreniz 50 karakterden uzun olamaz</small>
                  }
                </div>
              }

              <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value"></jhi-password-strength-bar>
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword">Yeni Şifre Doğrulama</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Yeni Şifrenizi Doğrulayınız"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
              @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
                <div>
                  @if (confirmPasswordRef?.errors?.required) {
                    <small class="form-text text-danger">Doğrulama şifresi zorunludur.</small>
                  }

                  @if (confirmPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger">Doğrulama şifreniz en az 4 karakter olmalıdır</small>
                  }

                  @if (confirmPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger">Doğrulama şifreniz 50 karakterden uzun olamaz</small>
                  }
                </div>
              }
            </div>

            <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Yeni şifreyi doğrula</button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
